.player {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  border-bottom: 4px solid black;
}

.playerName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.playerName > button {
  width: auto;
  margin: 10px;
}
.playerName > span {
  font-size: 88px;
}
.active-player {
  background: red;
}

.inactive-player {
  color: white;
  background: blue;
}
.layout {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}